users:
    ec2-user:
        groups:
            - webapp

option_settings:
    aws:elasticbeanstalk:container:php:phpini:
        document_root: '/public'
        memory_limit: 4096M
    aws:elasticbeanstalk:application:environment:
        APP_NAME: 'Venoot'
    aws:elasticbeanstalk:command:
        Timeout: 360
